#intro-outer{
    height: 85%;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    margin: 10px;
    width: 50%;
    height: 90%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
#title{
    margin-top: 50px;
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    /* background-color: red; */
}
p{
    width: 70%;
    color: whitesmoke;
}
section{
    margin-top: 10px;
    width: 70%;
    /* background-color: red; */
    display: flex;
    gap: 20px;
    
}
button{
    width: 150px;
    height: 40px;
    border-radius: 100px;
    border: none;
    color: white;
    font-weight: 600;
    background-color: black;
    cursor: pointer;
    &:hover{
        box-shadow: 1px 1px 5px black;
    }

    
}
#learn-more{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid white;
}




/* right box */

#lottie-animation{
    width: 700px;
    height: 700px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-position: center;

}

#socialMedia{
    width: 70%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    align-items: end;
    gap: 20px;
    justify-content: end;
}
#space{
    width: 70%;
    height: 15%;
    /* background-color: yellow; */
}
